{% extends 'blog/index.html' %}

{% load staticfiles %}
{% block content %}
    <html>
        <head>
            <title>Django Girls blog</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
           {% for post in object_list %}
           <hr>
            <div class="post-preview">

                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="psot-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on {{ post.datetime }}</p>
            </div>
           <hr>
            {% endfor %}
        </body>
    </html>
 {% endblock content %}